:root {
    --primary-color: #2366ca;
    --secondary-color: #ff23ed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style:none;
}
body {
    padding: 10px;
}
a.cat_link {
    text-decoration: none !important;
}
h3 {
    color: var(--secondary-color);
}
.col {
    flex-grow: unset;
    /* padding: 0; */
}
.mb-3 {
    padding-left: 0;
}
.card {
    height: 420px;
}
.card-body{
    min-height: none !important;
}
form .input-group {
    flex-wrap: nowrap;
}
.form.footer {
    margin-top: 20px;
}
.card-footer .btn {
    margin-left: 1.5em;
}
.bid {
    
    padding: 5px;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
    width: 30px;
    height: 30px;
}
.btn.want{
    height: 37px;
}

.cat_item {
    padding: 5px 12px;
    margin: 0 10px;
    line-height: 1.5;
    max-height: 2.2em;
}
.check.form-check-input {
    position: inherit !important;
    margin-top: .55rem;
    margin-left: 0.25rem !important;
    width: 1em;
    height: 1em;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }

}