:root {
    --primary-color: #2366ca;
    --secondary-color: #ff23ed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style:none;
}
body {
    padding: 10px;
}
a.cat_link {
    text-decoration: none !important;
}
h3 {
    color: var(--secondary-color);
}
.col {
    flex-grow: unset;
    /* padding: 0; */
}
.mb-3 {
    padding-left: 0;
}
form .input-group {
    flex-wrap: nowrap;
}
.form.footer {
    margin-top: 20px;
}
.bid {
    
    padding: 5px 12px;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
    width: 30px;
    height: 30px;
}
.btn.want{
    height: 37px;
}
.legend {
    margin-left: 10px;
}
.cat_item {
    padding: 5px 12px;
    margin: 0 10px;
    line-height: 1.5;
    max-height: 2.2em;
}
.cat_item:hover {
    background: linear-gradient(to top, #2366ca77, #234cfa77);
    
}